.grid-container {
  margin: auto;
  margin-top: 10px;
  max-width: 500px;
  padding: 15px;
  background: #b8bec9;
  color: #222;
}

/* input form section */
.InputForm {
  margin-bottom: 10px;
  display: inline;
}
.InputForm input {
  margin: 5px;
  padding: 5px;
}
.InputForm button {
  margin-top: 3px;
  margin-left: 10px;
  width: 75px;
  height: 30px;
}
.InputForm button:hover {
  text-decoration: underline;
  color: blue;
}

/* button section */
.button:hover {
  /* color: blue; */
  /* text-decoration: underline; */
}
.button-group {
  margin-left: auto;
  float: right;
}

/* ListContainer info */
.ListContainer {
  border-style: none;
}
.ListContainer ul {
  margin: 0;
  padding: 0; /* forces the group of li rows to the left */
}
.ListContainer li {
  display: grid;
  margin-top: 5px;
  padding: 7px 0px 2px 0px;
}

/* all about that .TableContainer */
.TableContainer {
  width: 100%;
  /* border-style: groove; */
  border-collapse: collapse;
  margin-top: 5px;
  padding: 7px 0px 2px 10px;
}
.TableContainer button {
  background: transparent;
  border: none !important;
  margin-left: 5px;
  font-size: small;
  width: 35px;
  height: 25px;
  display: inline;
}
.TableContainer tr{
  border-bottom-style: solid;
  border-width: 1px;
}
.TableContainer tr.trHead{
  border-bottom-style: none;
  text-align: left;
}
.TableContainer td {
  margin: 0px;
  padding: 5px;
}

/* td css logic */
.tdFav{
  width: 8%;
}
.tdInputFormQty{
  width: 9%;
}
.tdInputFormName{
  width: 40%;
}
.tdEditFormQty {
  width: 40px
}
.tdEditFormName{
  width: 90%
}